@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@400;700&display=swap');

body {
    font-family: Lora, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: opacity 0.5s ease; 
    opacity: 1;
}

.fade-out {
    opacity: 0; 
}

.header {
    color: black; 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
}

.photo_logo-01{
    width: 50px; 
    height: auto; 
    padding: 5px;
}

.article h1 {
    transition: font-size 0.3s ease; 
    font-size: 28px; 
}

.sidebar h3 {
    transition: font-size 0.3s ease; 
    font-size: 28px; 
}


.header-title {
    flex: 1; 
}

.header-nav {
    margin-right: 20px;
    padding: 10px;
}

.header-nav ul {
    list-style-type: none;
    padding: 0;
}

.header-nav ul li {
    text-decoration: none; 
    padding: 5px 10px; 
    display: inline;
    margin: 0 10px;
}

.header-nav ul li a {
    font-weight: bold;
    color: black; 
    text-decoration: none; 
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.article-container {
    flex: 3;
    margin-right: 20px;
}

.article {
    background-color: #f2f2f2; 
    padding: 15px;
    border-radius: 5px; 
}

.images {
    width: 700px; 
    height: auto; 
  }
  

.sidebar {
    flex: 1;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px; 
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    .article-container {
        margin-right: 0;
        margin-bottom: 20px;
    }
}




